*{
    box-sizing: border-box;
    /* margin: 0px; */
    /* 위, 왼쪽의 공백을 없앨 수 있음 */
}

.form{
    width: 670px;
    height: 960px;
    border: 1px solid #aacdff;
    border-radius: 20px;
    display: flex;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    background-color: bisque;
    /* padding: 20px; */
}

.title{
    display: flex;
    flex-direction: column;
    color: #0068ff;
    font-size: 32px;
    width: 466px;
    height: 94px;
    padding: 50px;
    border: 1px solid red;
}

.body__detail{
    display: flex;
    flex-direction: column;
    border: 1px solid saddlebrown;
}

.body__detail__email{
    border-bottom: 1px solid #0068ff;
    display: flex;
    flex-direction: column;
    color: gray
}