/* *{
    box-sizing: border-box;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
} */
.background{
    background-color: aqua;
}

.form{
    width: 670px;
    height: 960px;
    border: 1px solid #aacdff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

.header{
    display: flex;
    flex-direction: column;
    color: #0068ff;
    width: 466px;
    height: 94px;
    background-color: #aacdff;
} 