*{
    box-sizing: border-box;
    margin: 0px;
}

html, body{
    width: 100%;
    height: 100%;
}

.wrapper{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    /* background-color: bisque; */
    /* border: 1px solid black; */
}

.wrapper__header{
    width: 100%;
    /* border: 1px solid red; */
}

.wrapper__title{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.title{
    color: #55b2e4;
    font-size: 13px;
    font-weight: 700;
}

.subtitle{
    font-size: 8px;
    padding-left: 5px;
}

.grayLine{
    width: 100%;
    border-bottom: 1px solid #999999;
    padding: 5px;
}

.albumTotal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    /* background-color: bisque; */
}

.album{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 12px;
}

.album__Thumbnail{
    width: 120px;
    height: 120px;
}

.album__title{
    font-size: 11px;
    font-weight: 700;
    color: #0F465E;
    padding-top: 5px;
}

.album__singer{
    font-size: 10px;
    font-weight: 700;
    color: #999999;
}

.wrapper__body{
    width: 100%;
}

.List{
    width: 100%;
    padding: 5px;
    border-spacing: 0px;
}

.List th{
    height: 20px;
    font-size: 10px;
    font-weight: bold;
    color: gray;
    background-color: #EEEEEE;
    border-top: 1px solid gray;
    border-bottom: 1px dashed gray;
}

.List td {
    height: 20px;
    font-size: 10px;
    color: #0F465E;
    border-bottom: 1px dashed gray;
}

.List__td__checkbox {
    width: 5%;
    text-align: center;
}

.List__td__number {
    width: 10%;
    text-align: center;
}

.List__td__song {
    width: 45%;
    text-align: left;
}

.List__td__artist {
    width: 30%;
    text-align: left;
}